<footer class="text-primary bg-gray-600 bottom-0 mt-auto mx-auto text-center text-2xl font-primary font-bold py-2 px-3">
        <span>
            Blog With node.js &#129304
        </span>
</footer>

