<nav>
    <div class="site-title">
        <a href="/"><h3 style=" margin-bottom: 0px; ">Blog With node.js &#129304</h3></a>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
